# Git Ignore for Plugin
# -----------------------------------------------------------------------------

# OS Ignores
# -------------------------------------
.DS_Store
.cache
node_modules
vendor
composer.json
composer.lock
package-lock.json
yarn.lock
yarn-error.log

# Assets
# -------------------------------------
assets/dist/
